# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv*/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Local development settings
*.sqlite3
*.env
*.pyc

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.pyproj

# System Files
.DS_Store
Thumbs.db
